body {
    background-color: white;
}
ul{
    background-color: #336e9c;
}
.section-title {
    text-align: center;
    margin: 0 !important;
    text-transform: uppercase;
    /*font-family: 'Cairo', sans-serif;*/
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
}
.icon-chevron-right::before {
    content: " ";
}
.icon-chevron-left:before {
    content: " ";
}


section {
    padding-top: 25px;
 }

.text{
    direction: rtl;
}

.text span {
    color: #b58e3e;
    font-weight: 400;
}
