body {
    background-color: white;
    font-family: myFont;
}

ul {
    background-color: #336e9c;
}

.section-title {
    text-align: center;
    margin: 0 !important;
    text-transform: uppercase;
    font-family: myFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
}

.icon-chevron-right::before {
    content: " ";
}

.icon-chevron-left:before {
    content: " ";
}


section {
    padding-top: 25px;
}

.text {
    direction: rtl;
}

    .text span, .book a, .text a {
        /*color: #b58e3e;*/
        font-weight: bold;
        font-family: myFont;
    }

    .text a {
        font-size: 21px;
    }
